.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 100px;
}

.circle {
  width: 100px;
  height: 100px;
  left: -45.5px;
  transform: scale(0);
  opacity: 1;
  border: 1px solid rgb(205, 18, 18);
  border-radius: 100%;
  animation: grow 2.5s linear infinite;
  position: absolute;
  animation-delay: 1.2s
}

.circle-2 {
  animation-delay: 1.4s;
}

.arrow {
  position: relative;
  top: -40px;
  width: 10px;
  height: 82px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.arrow_line {
  width: 1px;
  height: 80px;
  background: rgb(205, 18, 18);
  animation: height 2.5s ease-in infinite;
}

.arrow_tip-wrapper {
  position: relative;
  top: 77px;
  left: -1px;
  animation: arrow-tip 2.5s ease-in infinite;
}

.arrow_tip {
  width: 1px;
  height: 6px;
  background: rgb(205, 18, 18);
  transform: rotate(45deg);
  position: absolute;
  left: 2px;
}

.arrow_tip.left {
  transform: rotate(-45deg);
  left: -2px;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.0);
    opacity: 0;
  }

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes height {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(110%);
  }
}

@keyframes arrow-tip {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-1px);
  }

  85% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}