#link {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
   color: white;
  ;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#link:hover{
  scale: 1.02;
  transition: 1s;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

}

#technologies {
  color: grey;
}