.container {
    font-family: sans-serif;
    background-color: #210011;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dates {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    color: orange;
    font-weight: 800;
    margin: 0;
  }
  
  .card-container {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .card {
    overflow: hidden;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
  }
  
  .expanded {
    width: 10rem;
    height: 10rem;
    background-color: orange;
    position: relative;
    left: -100%;
    top: 150%;
  }
  
  .secondary {
    background-color: white;
    height: 2.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 8rem;
    margin-left: 1rem;
  }
  
  .compact {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  
  .expanded .title {
    font-size: 5em;
    color: white;
  }
  
  .compact .title {
    font-size: 1.5em;
  }
  